# Dependencies
node_modules/

# Next.js build output
.next/
dist/
build/

# Environment files
.env
.env.local
.env.development
.env.production

# Turbo cache
.turbo/

# Log files
*.log

# Databases & local tools
postgres/
tools/postgres/
postgresql.zip

# TS Build Info Cache
*.tsbuildinfo